body,h1,h2,h3,h4,h5,p {
    font-family: 'Montserrat', sans-serif;
}
html body {
    overflow-x: hidden;
}
.bg {
    background-image: url("index-resources/bg1.png");
    background-size: 70%;
    background-repeat: no-repeat;
}
.main {
    color:  #0030cc;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin-bottom: 5%;
}
.my_title {
    padding-top: 15%;
    padding-bottom: 10%;
    line-height: 10px;
    background-image: url("index-resources/bg2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.line {
    height: 5px;
    background-color: #b99ce5;
    width: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.edu-icon img {
    height: 2rem;
    width: auto;
}

.email-icon img {
    height: 2rem;
    width: auto;
    text-align: center;
}
.nav {
    position: fixed;
    z-index: 10;
}

.nav-pills>a.nav-link.active{
    background-color: #0030cc;
    color: #ffffff;
    transition-duration: 0.4s;
    }
.nav-pills>a.nav-link.active:hover{
    background-color: #ffffff;
    color:#0030cc;
    }
.nav-pills>a.nav-link{
    color: #0030cc;
    background-color: #ffffff;
    border-radius: 0%;
    transition-duration: 0.4s;
    padding: 1rem;
    }
.nav-pills>a.nav-link:hover{
    background-color: #0030cc;
    color:#ffffff;
        }
.content {
    width: 80%;
}
.bio-bg {
    margin: 0 -9999rem ;
  /* add back negative margin value */
    padding: 5rem 9999rem 5rem;
    background-color:#dee2ec ;
}
.bio-photo img{
    height: 300px;
}
button {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #0030cc;
    border: 3px solid #0030cc; 
    transition-duration: 0.4s;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.experience-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.skills {
    padding: 4rem 0 4rem;
}
.skill-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.experience-content button {
    font-family: 'Montserrat', sans-serif;
    background-color: #0030cc;
    color: white;
    border: 3px solid #ffffff; 
    transition-duration: 0.4s;
    font-size: 16px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2rem;
}
.experience-content button:hover {
    background-color: #ffffff;
    border-radius: 10px; 
    color: #0030cc;
    border: 3px solid #0030cc; 
}
.experience-content h5 {
    background-color: #dde2ea;
    margin-top: 2rem;
}
.progress-bar{
    width:47%;
    height: 5px;
    background-color: #dde2ea;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.progress{
    width: 60%;
    height: 100%;
    background-color: #0030cc;
    border-radius: 3px;
}
.skill-content ul li {
    float: left;
    width: 50%;
    list-style: none;
    margin-bottom: 1rem;
}
.skill-content {
    margin-top: 3rem;
    background-color: #ffffff;
    padding: 2rem 0 ;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.skill-content p {
    margin-bottom: 0;
}
.skill-content ul li:nth-child(even) {
    float: right;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.footer {
    background-color: #dee2ea;
    padding: 5rem 0 5rem;
    margin: auto;
}
.footer>.footer-content {
    width: 80%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #0030cc;
}
.sm-icon img{
    height: 2rem;
    width: auto;
    margin-right: 1rem;
}